@import "/src/styles/main.scss";



.login_page{
    height : 100vh;
    background-color: #d5ded7;
    font-family: $font-main; 
}


.login-form {           
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_container{
  height : 70vh;
  width : 100%;
  display : flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.main_logo_box{
  height : 30vh;
  display : flex;
  align-items: center;
}

.main_logo {
    width: 140px; 
}

.header-title {
    font-size: 2rem;
    margin-bottom: 2rem;
    align-self: flex-start;  // 본인만 왼쪽 정렬
    text-align: left;
    font-weight : 700;
    
}

.id_box,.pwd_box {
    width: 100%;
    max-width: 300px;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 0.3rem;
}

input {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid #c5d9c9;
    border-radius: 4px;
    }

.login_box{
    background-color: #ffffff;
    border-radius : 3px;
    padding : 2rem;
    width : 100%;
    max-width: 400px;
    min-width: 300px;
}

.btn_container{
    display : flex;
    justify-content: flex-end;
    gap : 10px;
    width : 100%;
}

.btn {
    cursor: pointer;
}
